
  <div class="container" id="education">
    <div class="row" >
      <div class="col-md-6">
        <div class="card">
          <div class="row">
            <div class="col-12 text-center">
              <h4>WORK EXPERIENCE</h4>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5 >SOFTWARE DEVELOPER</h5>
              <p>Vicsoft Integrated Solution | 2020 - Present</p>
              <h5 >INTERN</h5>
              <p>MobiCure Integrated Solution | 2019 - 2020</p>
            </div>
          </div>
         </div>
      </div>
      <div class="col-md-6">
        <div class="card" id="c2">
          <div class="row">
            <div class="col-12 text-center">
              <h4>EDUCATION</h4>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5>FEDERAL POLYTECHNIC, ILARO</h5>
              <p>National Diploma of Computer Science, 2019</p>

              <h5>IGANMODE GRAMMAR SCHOOL, OTA</h5>
              <P>Senior School Leaving Certificate, 2016</P>
            </div>
          </div>
         </div>
      </div>
    </div>
  </div>

