
.card,  #c2{
  margin-top: 85px;
  margin-bottom:20px;
	width:100%;
	padding: 40px;
  background-color: #f8f9fa;
  border-radius: 10px;

}

h4{
  font-weight: bold;
}

@media(max-width: 767px){
   #c2{
    margin-top: 10px;
  }
}
