<nav class="navbar navbar-expand-md navbar-light fixed-top">
  <div class="container">
      <a  class="navbar-brand"><img src="../../assets/img/logo__daniel.jpg"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="fa fa-bars fa-2x"></span></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a href="#home" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a href="#skills" class="nav-link">Skills</a>
              </li>
              <li class="nav-item">
                <a href="#education" class="nav-link">Education</a>
              </li>
              <li class="nav-item">
                  <a href="#contact" class="nav-link">Contact</a>
              </li>

          </ul>
      </div>
  </div>
</nav>


