
<div class="footer" id="contact">
  <div class="container">
      <div class="row mt-3">
          <div class="col-md-6">
            <div class="container" id="container">
              <div class="row">
                <div class="col-12 text-center">
                  <h4>CONTACT</h4>
                </div>
              </div>
              <div class="row">
                <div class="col" >
                  <h5 style="font-weight:bold">Akanbi Daniel</h5>
                  <p>Software Developer</p>
                  <p>I am available for freelance work. <br> Connect with me via and call in to my account.</p>

                  <p>Phone: +234 8025030357 <br> Email: danielakanbi01@gmail.com</p>

                </div>
              </div>
             </div>
          </div>
          <div class="col-md-6">
           <div class="container" id="contain">
            <form>
              <div class="row">
                  <div class="form-group mb-3 col-md-12">
                      <label for="email">Your Name</label>
                      <input
                          type="text"
                          name="name"
                          class="form-control input_user"
                          required
                      >

                  </div>
                  <div class="form-group mb-3 col-md-12">
                      <label for="email">phone number</label>
                      <input
                          type="text"
                          name="phone"
                          class="form-control input_user"
                          required
                      >

                    </div>
                <div class="form-group mb-3 col-md-12">
                  <label for="email">Email</label>
                  <input
                      type="text"
                      name="email"
                      class="form-control input_user"
                      required
                  >

                </div>

                <div class="form-group mb-2 col-md-12">

                  <label for="password">subject</label>
                  <input
                      type="text"
                      name="subject"
                      class="form-control input_pass"
                      required
                  />

                </div>
                <div class="form-group mb-3 col-md-12">
                  <label for="email">your message</label>
                  <textarea rows="5" class="form-control">

                  </textarea>

                </div>

                <div class=" justify-content-center mt-3 login_container col-md-12">

                  <button type="submit" class="btn login_btn btn-primary">SEND MESSAGE</button>

              </div>
          </div>
          </form>
           </div>

          </div>
      </div>
  </div>

  <hr class="line">
<div class="container">
  <div class="row">
    <div class="col-md-12">
     <p class="text-center pt-5">© 2022, All right reserved by Dcode</p>
    </div>
 </div>
</div>
</div>
