
.text-center{
  /*padding-top:80px;*/
  padding-bottom:15px;
  font-weight: bold;
}

.card{
  margin-bottom: 20px;
  font-weight: bold;
  border-radius:5px;
  text-align: center;
  border-color: transparent;
}

.fluid{
  background-color: #f8f9fa;
}


