<div class="fluid" id="skills">
  <div class="container">
    <h4 class="text-center">SKILLS</h4>
    <div class="row">

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
           <h6>Bootstrap</h6>
          </div>
         </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
           <h6>TypeScript</h6>
          </div>
         </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
           <h6>Html</h6>
          </div>
         </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
           <h6>Angular Js</h6>
          </div>
         </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
           <h6>CSS</h6>
          </div>
         </div>
      </div>
    </div>
  </div>
</div>
